@font-face {
  font-family: "lulo-clean";
  src: url("./../fonts/39a2c7f346d5cfae7045aeb2fb50d9ad.ttf");
}


.feed{
    text-align: center;
}

.feed h1{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #281a39;
    margin-top: 60px;
}



form {
  padding: 1rem;
  max-width: 400px;
  margin: 1em auto;
}

.select {
  height: 40px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  margin-bottom: 1em;
}

.select:after {
  content: "▼";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
}

.select__field {
  height: 40px;
  width: 100%;
  padding: 5px 15px;
  color: #616263;
  background-color: #ececec;
  border: 1px solid #e3e3e3;
  outline: none;
  font-size: 16px;
  -webkit-appearance: none;
  /* for webkit browsers */
  -moz-appearance: none;
  /* for firefox */
  appearance: none;
  /* for modern browsers */
}


/* remove default caret for ie */

.select__field::-ms-expand {
  display: none;
}

.select__field:focus:invalid {
  border-color: #FD6347;
}

.select__field:required:valid {
  border-color: #006400;
}

.feed-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
}

.feed-card{
  width: 350px;
  background-color: white;
  padding: 20px 0;
  border: 1px solid #dbdbdb;
}

.feed-header img{
  width: 70px;
  clip-path: circle(50% at 50% 50%);
  float: left;
  margin-left: 80px;
  margin-right: 20px;
}

.feed-header p{
  padding-top: 30px;
}

.feed-card-body img{
  margin-top: 15px;
  width: 348px;
}

.feed-card-body{
  text-align: center;
}

.feed-card-body p{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.feed-card-body button{
  background-color: #cf4f4f;
  border: none;
  color: white;
  padding: 8px 20px;
  margin: 10px 0;
}

.feed-card-body button:hover{
  background-color: #444444;
}